.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 1px;
  width: 320px;
  height: 320px;
  padding: 10px 10px;

}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.square:hover {
  background-color: #eee;
}

 .square.x {
  color: blue;
}

.square.o {
  color: red;
} 

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.winnerName{
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  font-size: 1.5rem;
  font-family: monospace;
  
}

.text {
  animation-name: text-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  font-size: 1.5rem;
  font-family: monospace;
  margin: 5px 5px 5px 5px;
}

@keyframes text-animation {
  from {
    opacity: 0;
    letter-spacing: 2em;
  }
  to {
    opacity: 1;
    letter-spacing: normal;
  }
}